body{
   color: white;
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.Download{
    margin-top: 10px;
    background-color:#FB773C;;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}
.Download>a{
    text-decoration: none;
    color: white;
    font-weight:600;   
}
#btn-arr{
    position: absolute;
    transform: translateY(-50px);
    top: 13px;
    font-size: 15px;
    margin-left: 3px;
    transition-duration: 0.7s;
    opacity: 0;
    animation-name: btn;
}
.Download:hover {
    padding-right: 20px;
    transition-duration: 1s;
}
.Download:hover  #btn-arr{
    animation-name: btn;
    opacity: 1;
   transform: translateY(2px);
}
.fa-bars {
    text-align: center;
    /* width: 100%; */
    z-index: 98;
    cursor: pointer;
    position: fixed;
    top: 8px;
    right: 0px;
    color: #f85307;
    z-index: 101;
    /* border: 2px solid #f85307; */
}
#bar{
   position: fixed;
   flex-direction: column;
   text-align: center;
   /* right: 10px; */
   /* margin-top: 10px; */
   height: 40vh !important;
   z-index: 100;
   width: 100%;
   display: flex;
   flex-direction: column;
   background-color: #ffffffd3;
}
#bar{
    display: none;
}
#bar>ul{
    margin: 0px;
    padding: 0px;
}
#bar>ul>li{
    list-style-type:none ;
    width: 100%;
    margin-top: 5%;
    font-weight: 500;
}
#bar > ul >li>a{
    color: #402575;
    transition-duration: 0.8s;
}
#nav1{
    z-index: 99;
}
#nav1>li>a{
    color: white;
    transition-duration: 0.7s;
    text-decoration: none;
 }
 #nav1>li>a:hover{
    color:#FB773C;
 }
/* nav bar end here */
#background{
    background-color: #000000;
    background-color: #0866E4;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(129,768,347)'%3E%3Cstop offset='0' stop-color='%230866E4'/%3E%3Cstop offset='1' stop-color='%23270490'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='567' height='472.5' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.14'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
    position:absolute;
    overflow: hidden;
    z-index: -1;
    
}
#pie{
    position:absolute;
    top: 0px;
    width: 900px;
    height: 500px;
    bottom: -40px;
    left: 10%;
    margin: 0px;
    padding: 0px;
    z-index: -5;
    color: #FB773C;
}
 .waves{
    width: 100%;
    z-index: -5;
    position: absolute;
    bottom: -1px;
 }
 #conbtn{
    position: absolute;
    z-index: 99;
    display: flex;
    top: 75%;
 }
 #conbtn > span{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 50%;
    background-color: #FB773C;
    transition-duration: 10s;
    margin-left: 30px;
   
 }
 #conbtn > span>a{
    color: white;
    padding: 4px;
 }
 #conbtn > span:hover{
    background-image: radial-gradient(#ffffff5b,#FB773C, #f85307, #f50800);
 }
 #navhead{
    z-index: 99;
    height: 345px;
    position: relative;
 }
.headtext>h3{
/* background-color: #0866E4; */
color: #f85307;
}
.headtext>h2::first-letter{
color: #f85307;
}
 .image{
    position: absolute;
    top: 10%;
    width: 300px;
    overflow: hidden;
    right: 0%;
    z-index: 99;
    }

 @media  (max-width:576px){
    #navhead{
        margin-top: 10%;
     }
    #conbtn{
        bottom:12%;
    }
    #pie{
        transform: scale(0.9);
        top: auto;
        left: auto;
        right: -100%;
        bottom: -50px;
        z-index: 1;
    }  
    .image{
        top: 30%;
        width: 200px;
    }
    /* #navh1{
        background-color: white;
        color: #280f5a;
    } */
 }
 /* landing page end here  */
 #Skill{
    background-color: #4025754f;
    height: 265px;
    position: relative;
    padding-left: 30px;
    border: 2px solid white;
 }
.star{
    /* background-image: linear-gradient(to top left,#fffeff, #2d0d8c); */
    height: 25px;
    margin-left: 40%;
    width: 50%;
    display: flex;
    border-radius: 20px;
}
.star>i{
    font-size: 0.8rem;
    width: 25px;
    display: flex;
    align-items:center;
    justify-content: end;
}
.star>i:nth-child(-n+4){
    color: #FB773C;
}
#Skill>div{
  margin-top: 10px;
}
#Skill>div> h6{
    color: #402575;
    font-size: 0.8rem;
    font-weight: 1000;
    margin-left: 35%;
    margin-bottom: 2px;
}
#Skill>div> h5{
    font-family: "Protest Guerrilla", sans-serif;
    letter-spacing: 10px;
    position: absolute;
    transform: rotate(270deg);
    font-size: 5rem;
    top: 30%;
    color: #40257544;
}
#Education{
 border: 2px solid white;
   background-color: #ff914d3a;
    height: 265px; 
 }
 #Education>h3{
    color: #ff914d;
    margin-top: 8px;
 }
 #Education>div>h6:first-child{
    color: #280f5a;
    margin-left: 8px;
    margin-top: 20px;
 }
 #Education>div>h6:nth-child(n+2){
    color: #402575b4;
    margin-left: 12px;
 }
 @media  (min-width:1400px){
    #Skill>div> h5{
        position: absolute;
        right:60% !important;
    }
 }
 #Experience{
    margin-top: 15px !important; 
    border: 2px solid white;
    background-image: linear-gradient(to bottom, #280f5a82, #f5080069);
     height: 310px; 
     color: white;
     overflow: scroll;
 }
 #more {
    display: none;
}
#Experience >h3{
    color: #FB773C;
    margin-left: 10%;
    margin-top: 10px;
}
#myBtn{
    margin-top: 10px;
    background-color:#FB773C;;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
#Experience>div{
    margin-left: 15%;
}